[submodule "NeuralRecon"]
	path = NeuralRecon
	url = https://github.com/zju3dv/NeuralRecon.git
[submodule "ScanNet"]
	path = ScanNet
	url = https://github.com/ScanNet/ScanNet.git
[submodule "Atlas"]
	path = Atlas
	url = https://github.com/magicleap/Atlas.git
